#R: o básico

---

Vantagens R:
* Open-Source: gratuito e com comunidade cada vez maior e mais ativa;
* Com uma grande comunidade por conta do fenômeno Open Source, surgem milhares de bibliotecas gratuitas para uso;
* Multi-plataforma: Windows, Mac, Linux…
* Já falamos que é requisito para a “profissão mais sexy do século” ?<br><br>
![Ranking das Linguagens de Programação e suas aplicações do IEE SPECTRUM
](https://secureservercdn.net/198.71.233.197/o9y.9a5.myftpupload.com/wp-content/uploads/ranking-linguagens.png)

## AMBIENTE DE DESENVOLVIMENTO

---


* ANACONDA em https://www.anaconda.com/distribution/
* Efetue download/instalação do R em https://cloud.r-project.org/

* Efetue download/instalação do RStudio(IDE para programarmos com R) em https://www.rstudio.com/products/rstudio/download/
* Novo projeto R com Colab https://colab.research.google.com/notebook#create=true&language=r

## Declarando variáveis, comentando código e printando na tela:

---



* Declare variáveis com = ou <-
* Utilize # para comentar linhas
* Utilize print() para executar na tela
* Utilize readline(prompt=”…”) para receber texto(inputs)

In [0]:
# Você pode declarar variáveis utilizando "=" ou "<-"
x = "Hello Paulo!"
y <- "Hello Paulo!"

In [1]:
z = readline(prompt="Qual é o seu nome?")
print(z)

Qual é o seu nome?Paulo
[1] "Paulo"

## Tipos de Dados(básicos)

* Character(“Texto”)
Neste tipo inserimos caracteres, podendo ser números, textos, símbolos…;
* Integer (1L)
Integer se refere a números inteiros e utilizamos o “L” para determina-lo, diferente do Numeric, onde os números são decimais: 1.0 e não 1;
* Numeric (7.25)
Números decimais, mesmo que declarando-os como 12, o sistema retornará 12.0, por exemplo.
* Logical (T/F ou TRUE/FALSE)
Tipo de dado com retorno TRUE ou FALSE, assim como T ou F. TRUE quando atendidas as condições e FALSE quando não atendidas. Nos aprofundaremos logo logo neste tipo de dado: tenha paciência.

In [2]:
caract = "Texto caractere"
class(caract) 
#retorna 'character'

[1] "character"

In [3]:
inteiro = 15L
class(inteiro) 
#retorna 'integer'

[1] "integer"

In [4]:
num = 15
class(num)
#retorna 'numeric'

[1] "numeric"

In [5]:
logic = T
class(logic)
#retorna 'logical'

[1] "logical"

## Estruturas de Dados

---

In [6]:
# VETOR 

vec = 3
is.vector(vec) #Retorna TRUE

[1] TRUE

In [7]:
# Para adicionar diversos elementos em 1 vetor, use c()
vec = c(1,2,3,"texto")
class(vec) #retorna character pois todos elementos serão do mesmo tipo

[1] "character"

## LISTA 


---

In [8]:
x = c("texto1","texto2")
y =  c(1,2,3)
z = c(T,F,T)
lista = c(x,y,z) 
class(lista)
#retorna: 'texto1' 'texto2' '1' '2' '3' 'TRUE' 'FALSE' 'TRUE'

[1] "character"

## MATRIZ 



---

In [9]:
mat = matrix(c(1,2),nrow=1,ncol=2,byrow = TRUE) 
#nrow se refere ao número de colunas e ncol se refere ao número de linhas
#byrow insere os elementos dentro de linhas quando TRUE ou em colunas, quando FALSE
#retorna: 1 2
mat

     [,1] [,2]
[1,] 1    2

## DATAFRAME (estrutura para armazenar em forma de tabela)



---

In [10]:
x = data.frame(nome = c("Ana","Weber","Aquiles"),
               idade = c(24L,27L,2L),
               salario = c(12000,0,0))
#nrow(x) #retorna número de linhas do dataframe
#ncol(x) #retorna número de colunas do dataframe
dim(x) #retorna número de linhas e colunas

[1] 3 3

## CONDICIONAIS


---

In [11]:
if (3 > 0) {
 
    print("3 é maior que 0")
 
}

[1] "3 é maior que 0"

In [12]:
if (3 == 0) {
 
  print("3 = 0")
 
} else {
 
    print("3 não é igual a 0")
 
}

[1] "3 não é igual a 0"

In [13]:
a = 1
b = 2
ifelse(a>0,"A maior que 0","A menor que 0")
#retorna A maior que 0

[1] "A maior que 0"

## FUNÇÕES

---

In [23]:
# FUNÇÕES R BASE
x = c(1,2,3,4,5,6,7,8,9,10)
print("Desvio Padrão")
sd(x) #desvio padrão
print("Média")
mean(x) #média
print("Primeiras Linhas")
head(iris) #primeiras linhas dataframe
print("Ultimas Linhas")
tail(iris) #ultimas linhas dataframe

#file.choose() #abre pasta para caminho de arquivos

[1] "Desvio Padrão"

[1] 3.02765

[1] "Média"

[1] 5.5

[1] "Primeiras Linhas"

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa
5 5.0          3.6         1.4          0.2         setosa
6 5.4          3.9         1.7          0.4         setosa

[1] "Ultimas Linhas"

    Sepal.Length Sepal.Width Petal.Length Petal.Width Species
145 6.7          3.3         5.7          2.5         virginica
146 6.7          3.0         5.2          2.3         virginica
147 6.3          2.5         5.0          1.9         virginica
148 6.5          3.0         5.2          2.0         virginica
149 6.2          3.4         5.4          2.3         virginica
150 5.9          3.0         5.1          1.8         virginica

In [21]:
raizquadrada = function(x) {
  return(x*x)
}
raizquadrada(4)

[1] 16

## PACOTES

---

In [22]:
#Instala pacote
install.packages("ggplot2", dependencies=TRUE)

# Carrega pacote para ser utilizado no código
library(ggplot2)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘png’, ‘jpeg’, ‘checkmate’, ‘zoo’, ‘e1071’, ‘fontBitstreamVera’, ‘fontLiberation’, ‘httpuv’, ‘xtable’, ‘sourcetools’, ‘fastmap’, ‘Formula’, ‘latticeExtra’, ‘acepack’, ‘gridExtra’, ‘data.table’, ‘htmlTable’, ‘viridis’, ‘sp’, ‘mvtnorm’, ‘TH.data’, ‘sandwich’, ‘SparseM’, ‘MatrixModels’, ‘classInt’, ‘units’, ‘diffobj’, ‘fontquiver’, ‘freetypeharfbuzz’, ‘shiny’, ‘ggplot2movies’, ‘hexbin’, ‘Hmisc’, ‘mapproj’, ‘maps’, ‘maptools’, ‘multcomp’, ‘profvis’, ‘quantreg’, ‘rgeos’, ‘sf’, ‘vdiffr’


Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘units’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘rgeos’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘freetypeharfbuzz’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘Hmisc’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘sf’ had non-zero exit status”
Warning message in install.packages("ggplot2", dependencies = TRUE):
“installation of package ‘vdiffr’ had non-zero exit status”